fastapi
uvicorn
pandas
numpy
scikit-learn
fairlearn
aif360
shap
python-multipart
pydantic
sqlalchemy
alembic
psycopg2-binary
pytest
httpx
langchain
langchain-community
langchain-ollama
chromadb
sentence-transformers
reportlab
pypdf
langchain-google-genai
python-dotenv
